.overview {
  margin: 0 2.4rem;
  padding-bottom: 4.5rem;
  &__headline {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 2.7rem;
  }
  &__container {
    display: grid;
    gap: 1.6rem;
  }
  &__card {
    max-width: 32.6rem;
    border-radius: 0.5rem;
    background-color: $color-lighttheme-card;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    padding: 2.7rem 3.1rem 2.4rem 2.4rem;
    &--type {
      margin-bottom: 2.4rem;
      font-weight: 7000;
      font-size: 1.4rem;
      line-height: 1.694rem;
    }
    &--social {
      justify-self: end;
    }
    &--stats {
      align-self: end;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 3.9rem;
      color: $color-lighttheme-dark-blue-text;
    }
    &--percentage {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      align-self: end;
      align-items: center;
      gap: 0.4rem;
      &-arrow {
        transform: translateY(-1px);
        &-img {
        }
      }
      &-number {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: $color-primary-lime-green;
      }
    }
  }
}
